/* Apple-style.css by Techman

Make sure you add the following code in the <head> of your site with the color replaced with the primary color of the website

<style>
	.primary-color, strong, .title {
		color: blue;
	}
</style>
*/

* {
	background-color: black;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.content {
	border: 2px solid white;
	padding: 10px;
	margin: 5px;
	border-radius: 15px;
	background-color: rgb(28, 28, 30);
}
.content * {
	background-color: rgb(28, 28, 30);
}
#version {
	text-align: right;
	font-size: 8pt;
}
.small {
	font-size: 10pt;
}